fastapi==0.115.12
lifelines==0.27.7
matplotlib==3.7.1
multiprocess==0.70.16
numpy
pandas==1.5.0
pydantic==2.11.4
scanpy==1.11.1
scikit_learn==1.2.2
scikit_optimize==0.9.0
scikit_survival==0.21.0
scipy==1.15.3
seaborn==0.13.2
shap==0.44.1
uvicorn==0.34.2
